/* GLOBAL STYLES */

/* visually-hidden helper */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Raleway', 'Arial', serif;
  color: #000000;
  font-size: 14px;
  line-height: 21px;
  background-color: #ffffff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.clearfix::after {
  display: table;
  content: '';
  clear: both;
}

.container {
  width: 1170px;
  margin: 0 auto;
  /* background-color: teal; */
}

.page-header {
  background-color: #1b1b1b;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);
}

.page-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
}

.site-logo {
  display: inline-block;
  animation: logo-appear 2s linear;
}

@keyframes logo-appear {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }

  50% {
    transform: translateY(0);
    opacity: 1;
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}




/* SITE NAVIGATION */
.site-navigation {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin: 0;
  padding: 0;
  font-size: 13px;
  list-style: none;
}


.site-navigation a {
  display: block;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 16px;
  transition: color 0.3s linear;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #e84545;
}

/* BANER */
.baner {
  min-height: 600px;
  margin-bottom: 20px;

  background-image: linear-gradient(
    to right,
      rgba(239, 59, 54, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    linear-gradient(to top, rgba(0, 210, 255, 0.3), rgba(145, 140, 170, 0.3)),
  url('../img/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


/* .search {
  position: absolute;
  right: 0;
  top: 90px;
} */


h2 {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin: 10 0px;
  padding: 20px;
  color: #000;
}





/* FEATURES SECTION */
.features {
  margin-bottom: 20px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.features-list-item {
  /* flex-basis: 370px;
  flex-grow: 0;
  flex-shrink: 0; */
  flex: 0 0 370px;
  width: 370px;
  margin-bottom: 72px;
  padding: 0 38px;
  text-align: center;
}

.features-list-item::before {
  content: "";
  display: block;
  height: 60px;
  margin-bottom: 34px;
  /* background-color: teal; */
  background-image: url('../img/icons/features/icon-Accounting-services.png');
  background-repeat: no-repeat;
  background-position: center;
}

.icon-Accounting-services::before {
  background-image: url(../img/icons/features/icon-Accounting-services.png);
}
.icon-Lawyer-services::before {
  background-image: url(../img/icons/features/icon-Lawyer-services.png);
}
.icon-Legal-services::before {
  background-image: url(../img/icons/features/icon-Legal-services.png);
}
.icon-IT-support::before {
  background-image: url(../img/icons/features/icon-IT-support.png);
}
.icon-Notary::before {
  background-image: url(../img/icons/features/icon-Notary.png);
}
.icon-HR::before {
  background-image: url(../img/icons/features/icon-HR.png);
}
.icon-Audit::before {
  background-image: url(../img/icons/features/icon-audit.png);
}

.features-list-item:nth-child(3n) {
  margin-right: 0;
}

/* .features-list-item:not(:nth-child(3n)) {
  margin-right: 30px;
} */

.features-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.features-list-item h3 {
  margin-bottom: 24px;
  color: #2d3033;
  line-height: 17px;
  font-size: 14px;
}

.features-list-item p {
  font-size: 14px;
}






/* TEAM SECTION */
.team {
  margin-bottom: 120px;
}

.team-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.team-list-item {
  border-radius: 10px;
  width: 270px;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: transform 0.2s ease-in, 
              box-shadow 0.3s linear;
}
.team-list-item:hover {
  transform: scale(1.05);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}


.team-list-name {
  margin-top: 26px;
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 26px;
  color: #2d3033;
}

.team-list-occupation {
  margin-top: 0;
  margin-bottom: 26px;
  font-size: 13px;
  line-height: 16px;
  color: #e84545;
  text-transform: uppercase;
}

.team-list-description {
  font-size: 14px;
}

.team-list-socials {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
}

.team-list-socials li {
  margin-right: 4px;
}

.team-list-socials li:last-child {
  margin-right: 0;
}

.team-list-socials a {
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid #e8ecee;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 0.2s linear;
}

.team-list-socials a:hover,
.team-list-socials a:focus {
  background-color: #ffffff;
}

.icon-facebook {
  background-image: url(../img/icons/social/icon-facebook.png);
}
.icon-linkedin {
  background-image: url(../img/icons/social/icon-linkedin.png);
}
.icon-instagram {
  background-image: url(../img/icons/social/icon-instagram.png);
}
.icon-twitter {
  background-image: url(../img/icons/social/icon-twitter.png);
}


.socials-image {
  opacity: 0;
}


.team-list-image {
  filter: grayscale(1);
  transition: filter 0.2s ease-out;
}

.team-list-item:hover .team-list-image {
  filter: grayscale(0);
}

.team-list-item:hover .socials-image {
  opacity: 0.4;
}







/* FOOTER SECTION */
.page-footer {
  color: #fff;
  background-color: #747272;
}

.page-footer .container {
  display: flex;
  justify-content: space-between;
  min-height: 146px;
  align-items: center;
}

.footer-socials-list {
  list-style: none;
}

.footer-socials-list li a {
  color: #ffffff;
  text-decoration: none;
}



.download-button {
  border: none;
  margin: 0;
  padding: 14px, 82px;
  background-color: #e84545;
  font-size: 13px;
  line-height: 21px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}






/* CONTACT */
.form {
  padding: 40px 0;
}